<!doctype html>
<html lang="en">
  <head>
    <title>Page not Found | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include('header') %>
    <h1>Error 404</h1>
    <p>That page could not be found...</p>
    <p><a href="/">Home</a></p>
  </body>
</html>
