<!doctype html>
<html lang="en">
  <head>
    <title>Server Error | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <%- include('header') %>
    <h1>Error 500</h1>
    <p>Something went wrong on the server...</p>
    <p><a href='/'>Home</a></p>
  </body>
</html>
