.productCard {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #3d4774;
  padding: 10px;
  text-align: start;
}

.coverImage {
  image-rendering: crisp-edges;
  width: calc(225px - 20px);
  height: 150px;
  object-fit: contain;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.cost {
  font-size: 1.5rem;
  text-align: center;
}
