@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
    --dark-background: black;
    --dark-background-lighter: rgb(83, 83, 83);
    --dark-text: black;

    --light-background: rgb(245, 245, 245);
    --light-background-darker: rgb(224, 224, 224);
    --light-background-lighter: white;
    --light-text: white;
}

body {
    margin: 0;
    background-color: var(--light-background-lighter);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.fade-in {
    animation: fade-in-frames 1s;
}

@keyframes fade-in-frames {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    display: flex;
    background-color: var(--dark-background);
    justify-content: center;
    gap: 30px;
    color: var(--light-text);
    align-content: center;
}

.site-name {
    align-content: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#navbar {
    display: flex;
    gap: 10px;
    padding: 10px 5px;
}

#navbar button {
    border: none;
    padding: 10px 40px;
    font-size: 1.1rem;
    background-color: var(--dark-background);
    color: var(--light-text);
    font-family: inherit;
    cursor: pointer;
}

#navbar button:hover {
    background-color: var(--dark-background-lighter);
}

#navbar button:active {
    background-color: var(--light-text);
    color: var(--dark-background-lighter);
}

#navbar button.current {
    text-decoration: underline;
}

footer {
    background-color: var(--dark-background);
    color: var(--light-text);
    min-height: 61px;
    align-content: center;
    text-align: center;
}