@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary-background-color: rgb(241, 241, 241);
    --primary-background-color-darker: rgb(212, 212, 212);
    --primary-background-color-lighter: white;

    --accent-background-color: rgb(20, 20, 20);
    --accent-background-color-darker: black;
    --accent-background-color-lighter: rgb(80, 80, 80);

    --primary-text-color: black;
    --accent-text-color: white;

    --error-color: rgb(255, 195, 195);
}

body {
    font-family: 'WorkSans', sans-serif;

    display: flex;
    margin: 0;
}

input, select, textarea, button {
    font-family: inherit;
}

input:invalid:required {
    background-color: var(--error-color);
}

.color-button {
    padding: 8px 30px;
    
    background-color: var(--accent-background-color);
    color: var(--accent-text-color);
    border: 3px var(--accent-background-color) solid;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.color-button:hover {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: 3px var(--accent-background-color) solid;
}

.color-button:active {
    background-color: var(--primary-background-color-darker);
}

.svg-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 10px;
}

.svg-button:hover {
    background-color: #00000020;
}

.svg-button:active {
    background-color: #00000040;
}