<!doctype html>
<html lang="en">
  <head>
    <title>Music Database</title>
  </head>
  <body>
    <h1>Index</h1>
    <ul>
      <li><a href="/artists/view">Artists</a></li>
      <li><a href="/genres/view">Genres</a></li>
      <li><a href="/songs/view">Songs</a></li>
    </ul>
  </body>
</html>
