@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary-color: rgb(241, 241, 241);
    --primary-color-darker: rgb(212, 212, 212);
    --primary-color-lighter: white;
    --primary-text-color: black;

    --accent-color: rgb(20, 20, 20);
    --accent-color-darker: black;
    --accent-color-lighter: rgb(80, 80, 80);
    --accent-text-color: white;

    --error-color: red;

    --gradient-color-1: #a6d96a;
    --gradient-color-2: #fee08b;
    --gradient-color-3: #fdae61;
    --gradient-color-4: #f46d43;
    --gradient-color-5: #d73027;

    --light-hover-color: #00000020;
    --dark-hover-color: #00000040;
}

body {
    font-family: 'WorkSans', sans-serif;

    display: flex;
    margin: 0;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: 1rem;
}

.color-button {
    padding: 8px 30px;
    
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border: 3px var(--accent-color) solid;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.color-button:hover {
    background-color: var(--primary-color-lighter);
    color: var(--primary-text-color);
    border: 3px var(--accent-color) solid;
}

.color-button:active {
    background-color: var(--primary-color-darker);
}

.svg-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 10px;
}

.svg-button:hover {
    background-color: var(--light-hover-color);
}

.svg-button:active {
    background-color: var(--dark-hover-color);
}