.sidebar {
    background-color: var(--accent-background-color);
    color: var(--accent-text-color);

    width: 300px;
    min-height: 100vh;
}

.sidebar__title {
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px var(--accent-text-color) solid;

    padding: 5px 20px;
}

.sidebar__list-container {
    margin-top: 10px;
}

.new-list-button, .list-select-button {
    font-size: 1.5rem;
    background-color: inherit;
    border-radius: 10px;
    color: var(--accent-text-color);
    cursor: pointer;

    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 5px 10px;
    padding: 5px;
}

.list-select-button {
    border: 3px var(--accent-text-color) solid;
}

.list-select-button.current {
    background-color: var(--accent-text-color);
    color: var(--accent-background-color-darker);
    cursor: auto;
}

.new-list-button {
    border: 3px var(--accent-text-color) dashed;
}

.new-list-button:hover, .list-select-button:not(.current):hover {
    background-color: var(--accent-background-color-lighter);
}

.new-list-button:active, .list-select-button:not(.current):active {
    background-color: var(--accent-background-color-darker);
}