#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.app__title {
  font-size: 3rem;
}

.app__author {
  font-size: 1.4rem;
}

.app__score-container {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;

  span {
    font-size: 1.5rem;
  }
}
