<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>
  <body>
    <div class="content-container">
      <div class="board__banner drop-shadow-text">Welcome to Battleship!</div>
      <div class="board"></div>
      <div class="button-container">
        <button class="randomize-button">Randomize</button>
        <button class="start-button">Start Game</button>
      </div>
    </div>
    <div class="sidebar">
      <div class="title drop-shadow-text prevent-select">Battleship</div>
      <div class="author drop-shadow-text">By Joe Zlonicky</div>
      <div class="game-log-title drop-shadow-text">Game Log</div>
      <div class="game-log"></div>
    </div>
  </body>
</html>
