<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="/messageBoard.css">
  </head>

  <body>
    <h1>Message Board</h1>
    <form action="/new">
      <input type="submit" value="New Message"/>
    </form>
    
    <h2>Messages</h2>
    <div class="message-container">
      <% messages.forEach((message) => { %>
        <div class="message">
          <div class="message__body"><%=message.body%></div>
          <div class="message__open"><a href="/messages/<%=message.id%>">Open Message</a></div>
          <div class="message__footer"><%=message.author%> - <%=datetimeFormat(message.datetime)%></div>
        </div>
      <% }) %>
    </div>
  </body>
</html>