<!doctype html>
<html lang="en">
  <head>
    <title>Message | Message Board</title>
    <link rel="stylesheet" href="/message.css" />
  </head>

  <body>
    <h1>Message #<%=message.id%></h1>
    <h3>Author</h3>
    <div><%=message.author%></div>
    <h3>Body</h3>
    <div><%=message.body%></div>
    <h3>Date</h3>
    <div><%=message.date%></div>
    <div class="footer">
      <a href="/messages">Back</a>
    </div>
  </body>
</html>
