<!doctype html>
<html lang="en">
  <head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <%- include('header') %>
    <h1><%= siteName %></h1>
    <% if (user) { %>
      <p>Welcome to The Forum!</p>
    <% } else { %>
      <p><a href="/auth/log-in">Log In</a></p>
      <p><a href="/auth/sign-up">Sign Up</a></p>
    <% } %>
  </body>
</html>
