.form-section__field-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 10px;
}

.form-section__field-container > div:nth-of-type(odd):last-child {
  grid-column: 1 / -1;
}

.form-section h2 {
  margin-top: 0;
  margin-bottom: 0.8rem;
}
