#root {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

#root > h1 {
  text-align: center;
  margin: 0;
}

#root > h3 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
