#root {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.app__title {
  text-align: center;
  margin: 0;
}

.app__author {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
