@font-face {
  src: url('./assets/Inter.ttf') format('truetype');
  font-family: Inter;
}

@font-face {
  src: url('./assets/PlayfairDisplay.ttf') format('truetype');
  font-family: PlayfairDisplay;
}

:root {
  background-color: #302b31;
  color: white;

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  transition: border-color 0.25s;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgb(55, 132, 55);
  padding: 1rem 3rem;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #265033;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(109, 228, 109);
  }
}
