.dropdown button {
  border: none;
  background-color: rgb(196, 151, 238);
  padding: 10px 20px;
}

.dropdownbutton:hover {
  background-color: rgb(208, 172, 241);
}

.dropdown button:active {
  background-color: rgb(177, 131, 219);
}

.dropdown__content button {
  background-color: rgb(161, 122, 197);
}

.dropdown__content button:hover {
  background-color: rgb(177, 137, 214);
}

.dropdown__content button:active {
  background-color: rgb(133, 93, 170);
}

.hidden {
  display: none !important;
}

.dropdown {
  position: relative;
}

.dropdown__content {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  z-index: 1;
}
