body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ea7b36;
    box-shadow: 0 20px #af5d2b;
    border-radius: 10px;
    padding: 10px;
}

.display {
    height: 70px;
    background-color: #726e6d;
    border: rgb(54, 57, 73) solid 10px;
    margin: 5px 5px 15px 5px;
    padding: 0 10px;
    font-size: 48px;
    color: white;
    text-align: right;
    line-height: 70px;
    font-family: monospace;
}

.row {
    display: flex;
}

button {
    width: 100px;
    height: 75px;
    margin: 10px 5px;
    padding: 0;
    background-color: rgb(54, 57, 73);
    color: white;
    font-weight: bold;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(26, 27, 34);
}

button:active {
    box-shadow: 0 1px rgb(26, 27, 34);
    transform: translateY(4px);
}

.long-button {
    flex: 1;
}