<!doctype html>
<html lang="en">
  <head>
    <title><%=genre.name%>| Music Database</title>
  </head>
  <body>
    <a href="/view">Index</a> > <a href="/genres/view">All Genres</a>
    <h1>Edit Genre</h1>
    <form action="/genres/<%=genre.id%>" method="post">
      <label for="name">Name: <input type="text" id="name" name="name" value="<%=genre.name%>"></label>
      <div>
        <button type="submit">Update</button>
      </div>
    </form>
  </body>
</html>
