<!doctype html>
<html lang="en">
  <head>
    <title>Artists | Music Database</title>
  </head>
  <body>
    <a href="/view">Index</a> - <a href="/artists">View Raw</a>
    <h1>Artists</h1>
    <ul>
    <% artists.forEach((artist) => {%>
      <li><a href="/artists/<%=artist.id%>/view"><%=artist.name%></a></li>
    <% }) %>
    </ul>
    <form action="/artists/viewCreate" method="get">
      <button type="submit">Add Artist</button>
    </form>
  </body>
</html>
