<!doctype html>
<html lang="en">
  <head>
    <title>New Artist | Music Database</title>
  </head>
  <body>
    <a href="/view">Index</a> > <a href="/artists/view">All Artists</a>
    <h1>New Artist</h1>
    <form action="/artists" method="post">
      <label for="name">Name: <input type="text" id="name" name="name" minlength="1"></label>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </body>
</html>
