<!doctype html>
<html lang="en">
  <head>
    <title>Songs | Music Database</title>
  </head>
  <body>
    <a href="/view">Index</a> - <a href="/songs">View Raw</a>
    <h1>Songs</h1>
    <ul>
    <% songs.forEach((song) => {%>
      <li><a href="/songs/<%=song.id%>/view"><%=song.name%></a></li>
    <% }) %>
    </ul>
    <form action="/songs/viewCreate" method="get">
      <button type="submit">Add Song</button>
    </form>
  </body>
</html>
