:root {
  background-color: black;
  color: white;
}

a {
  color: white;
}

header {
  display: flex;
  gap: 32px;
}

nav {
  display: flex;
  gap: 8px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-preview {
  border: 1px solid white;

  div {
    padding: 8px;
  }

  .message-preview__title {
    font-weight: bold;
  }

  .message-preview__body {
    padding-top: 0;
  }

  .message-preview__footer {
    border-top: 1px dashed white;
    padding-top: 8px;
  }
}
