<!doctype html>
<html lang="en">
  <head>
    <title>New Username</title>
  </head>
  <body>
    <form action="/new" method="post">
      <label for="username">Username:
        <input name="username" id="username" required />
      </label>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
