<!doctype html>
<html lang="en">
  <head>
    <title>Genres | Music Database</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <a href="/view">Index</a> - <a href="/genres">View Raw</a> 
    <h1>Genres</h1>
    <ul>
    <% genres.forEach((genre) => {%>
      <li><a href="/genres/<%=genre.id%>/view"><%=genre.name%></a></li>
    <% }) %>
    </ul>
    <form action="/genres/viewCreate" method="get">
      <button type="submit">Add Genre</button>
    </form>
  </body>
</html>
