.board {
  width: min(40%, 700px);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
}

.board__banner {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: -40px;
}

.board__cell {
  background-color: var(--panel-color);
  position: relative;
}

.board__cell.ship {
  background-color: var(--grid-ship-color);
}

.board__cell.miss {
  background-color: var(--grid-miss-color);
}

.board__cell.hit {
  background-color: var(--grid-hit-color);
}

.board__cell.sunk {
  background-color: var(--grid-sunk-color);
}

.board__left-connection {
  width: 8px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: calc(50% - 5px);
  left: -8px;
}

.board__up-connection {
  width: 10px;
  height: 8px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: calc(50% - 5px);
}
