<!doctype html>
<html lang="en">
  <head>
    <title>Unauthorized | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>Error 401</h1>
    <p>You need to <a href="/users/log-in">Log in</a> to perform this action.</p>
    <p><a href="/">Home</a></p>
  </body>
</html>
