<div class="message-preview">
  <div class="message-preview__title"><%= message.title %></div>
  <% if (message.body) { %>
  <div class="message-preview__body"><%= message.body %></div>
  <% } %>

  <div class="message-preview__footer">
    <%= isIdUserId(message.user_id) ? '[You]' : 'Anonymous Author' %> -
    <a href="/messages/<%=message.id%>">Open</a>
  </div>
</div>
