.list-view {
    background-color: var(--primary-color);

    flex: 1;
    min-height: 100vh;
}

.list-view__header {
    background-color: var(--primary-color-lighter);

    padding: 5px 20px;
    border-bottom: 3px var(--primary-text-color) solid;
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-view__title {
    font-size: 3rem;
    font-weight: bold;
}

.list-view__author {
    flex: 1;
    text-align: right;
}

.list-view__task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 150px;
    gap: 25px;
    padding: 10px;
}

.new-task-button {
    font-size: 1.5rem;
    background-color: inherit;
    color: var(--primary-text-color);
    border: 3px var(--primary-text-color) dashed;
    border-radius: 10px;
    cursor: pointer;

    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task-button:hover {
    background-color: var(--primary-color-lighter);
}

.new-task-button:active {
    background-color: var(--primary-color-darker);
}