<!doctype html>
<html lang="en">
  <head>
    <title>Page not Found | Music Database</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <a href="/view">Index</a>
    <h1>Page not Found</h1>
    <p>Hmm, that page could not be found!</p>
  </body>
</html>
