.about-me {
  display: flex;
  min-height: 300px;
  gap: 50px;

  svg {
    width: 30px;
    height: 30px;
  }
}

.about-me__image-container {
  position: relative;
  transform: scale(1.2);

  img {
    display: block;
  }

  h1 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 100%;
    color: var(--accent-text-color);
    font-size: 2.3rem;
    margin: 0;
  }
}

.about-me__content {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    flex: 1;
  }
}

@media (max-width: 1200px) and (min-width: 701px) {
  .about-me {
    display: block;
    padding-right: 20px;

    .about-me__image-container {
      float: left;
      transform-origin: 100% 100%;
      transform: translateX(-20px) translateY(-20px) scale(1.1);

      h1 {
        top: -10px;
        left: calc(100% + 20px);
        bottom: auto;
      }
    }

    .about-me__content {
      display: inline;
    }

    .socials-container {
      display: none;
    }
  }
}

@media (min-width: 701px) {
  .about-me {
    background-color: var(--primary-color);

    .socials-container {
      justify-content: end;
    }
  }

  .about-me__content {
    padding: 25px;
  }
}

@media (max-width: 700px) {
  main .about-me {
    flex-direction: column;
    box-shadow: none;
    align-items: center;
    gap: 20px;

    .socials-container {
      justify-content: center;
    }
  }

  .about-me__image-container {
    transform: scale(1);
  }
}
