@font-face {
  src: url('../assets/fonts/Acme-Regular.ttf') format('truetype');
  font-family: Acme;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #272c42;
  min-height: 100vh;
  color: white;
  font-family: Acme, sans-serif;
}

a {
  color: white;
}
