<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/create" style="display: block; margin-bottom: 8px;">Create a user</a>
    <% if (locals.users && locals.users.length > 0) {%>
      <a href="/search" style="display: block; margin-bottom: 8px;">Search for a user</a>
    <% } %>
    <%- include('partials/userList', {noUsersMessage: 'No users have been created yet.'}) %>
  </body>
</html>