<!doctype html>
<html lang="en">
  <head>
    <title>Message Not Found | <%= siteName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <h1>Message Not Found</h1>
    <p>That message could not be found...</p>
    <p><a href="/">Home</a></p>
  </body>
</html>
